# Ignore our secret keys
backend/config.py

# Python
**/__pycache__/
*.pyc

# Virtual envs
venv/
.venv/

# Databases & logs
backend/*.db
backend/*.sqlite3
backend/server.out.log
backend/server.err.log

# Node/Front assets (generated)
frontend/assets/*.tmp
